<h1>Bonjour !</h1>
<h2>APPLI-MOBILE</h2>
<h3>Coordonnées</h3>
<p>
    @if (coordonnees) {
    latitude : {{ coordonnees.latitude }}
    <br />
    longitude : {{ coordonnees.longitude }}
    }
</p>

<div>
    <h4>GPS</h4>
    <button (click)="afficherCoordonnees()">Coordonnées</button>
</div>
<div>
    <h4>SMS</h4>
    <label>Tel :</label>
    <br/>
    <input type="text" [(ngModel)]="tel" name="tel">
    <br>
    <label>Message :</label>
    <br/>
    <input type="text" [(ngModel)]="message" name="message">
    <br>
    <br>
    @if(tel != undefined){
    <button (click)="sendSms()">SMS</button>
    }
</div>